{% extends "templates/template.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}

<h4><br>What is RateIT?</h4>

<p>RateIT is a project that aims to take the frustration out of travelling on public transport and ultimately improve bus and train services. As part of the project an online app is being developed so that passengers can send feedback and information on problems in real time. This will give operators an opportunity to act more quickly and alert other passengers of issues in a timely manner.</p>

<h4><br>Why is RateIT needed?</h4>

<p>Operators know that passengers want services that are running on time, are clean, and driven by skilled and polite drivers. However, some operators want to know more about your experience and want this information more often. 
<br><br>For example, a range of questions that an operator may want to know include: What is the level of crowding on the bus? Do you feel safe and comfortable? Are other people friendly on our bus? 
<br><br>If passengers were to provide more feedback more often than operators, like Forest, will be able to track how they are performing and to anticipate passenger needs better. </p>

<h4><br>When should I use RateIT?</h4>

<p>Ideally we would like passengers to log into RateIT as often as they can. The more ratings we can get from passengers the better the quality of information we receive. Frequent information will allow us to understand how different traffic conditions and other contextual factors impact your experiences as a passenger.</p>

<h4><br>Who is RateIT?</h4>

<p>The RateIT team are a group of University of Sydney researchers from the Institute of Transport and 

Logistics Studies (ITLS) and the School of IT who are working in collaboration with Forest Coach 

Lines.</p>

<h4><br>How does RateIT work?</h4>

<p>The RateIT app allows passengers to provide ratings of their trip across a range of indicators, 

including safety, cleanliness and timeliness. To use this function click on the Rate Trip menu item. 

Passengers can also send an alert to the transport operator to inform them of a specific incident that 

has taken place.</p>

<h4><br>What makes RateIT an innovative research project?</h4>

<p>RateIT is an innovative research project for three reasons. 

<br><br>1. the project focuses on a new app that has been developed from scratch. The app has been 

developed in this manner so that we can monitor whether it works as intended. 

<br><br>2. it is a project that is intended to help gain a better understanding of the passenger perspective 

and observe changes in this perspective over the long-term. This means that we will be 

sharing our findings with other researchers and transport operators. 

<br><br>3. it is a project that studies how a focus on passenger perspectives can help transport 

operators operate better. To achieve this we need to be able to examine the evidence and 

report our findings.<br></p>

<div class="row">
	<div class="col-sm-6">
	    <img class="img-responsive" src="forestlogo.jpg" alt="Forest" height="65%" width="65%">
	</div>
	<div class="col-sm-offset-1 col-sm-5">
	    <img class="img-responsive" src="sydneyunilogo.jpg" alt="The University of Sydney"  height="65%" width="65%">
	</div>
</div>

{% endblock %}